# Build directories
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Compiled files
*.o
*.a
*.so
*.dll
*.exe

# Data files
data/
*.log
*.bin
sample/

# Test files - exceptions
!code/tests/data
!code/tests/data/*.bin